//href에 /join처럼 적고 싶지 않다. 바뀐다면 하나씩 다 바꿔 줘야 되니까.
//one single source of truth(한 곳에서만 정보를 보관).
//더 나은 코드를 만들어 주는 원칙.
header.header
    .header__column
        i.fas.fa-cookie-bite
    .header__column
        ul
            li
                a(href="#") 회원가입
            li
                a(href="#") 로그인