.social-login
    button.social-login__github
            i.fab.fa-github
            span continue with github
    button.social-login__google
            i.fab.fa-google 
            span continue with google