.social-login
    button.social-login__github
        span
            i.fab.fa-github
        | Github으로 가입하기
    button.social-login__google
        span
            i.fab.fa-google
        | Google로 가입하기