@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");

.header {
  z-index: 999;
  position: fixed;
  background-color: rgba($color: #ffffff, $alpha: 0.9);
  margin-bottom: 40px;
  width: 100%;
  .header__wrapper {
    margin: 0 auto;
    padding: 8px 20px;
    width: 100%;
    max-width: 1800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .header__column {
      width: 100%;
      &:nth-child(1) {
        width: 50%;
        justify-content: flex-start;
      }
      &:nth-child(2) {
        width: 100%;
      }
      &:nth-child(3) {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        ul {
          font-size: 40;
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      form {
        display: flex;
        margin: 5px 30px;
        input:nth-child(1) {
          border-radius: 3px 0 0 3px;
          width: 100%;
          height: 30px;
          max-width: 1000px;
          padding: 5px 10px;
          outline: none;
          border: 1px solid lightgray;
          background-color: rgba($color: #ffffff, $alpha: 0);
          font-size: 15px;
          color: $cookie;
          font-weight: 600;
          &::placeholder {
            font-weight: 400;
            color: $cookie;
          }
        }
        button {
          i {
            font-size: 15px;
            color: $cookie;
          }
          width: 70px;
          height: 30px;
          border: 1px solid lightgray;
          border-left: 0;
          outline: 0;
          background-color: rgba($color: #f7f7f7, $alpha: 0.5);
          border-radius: 0 3px 3px 0;
        }
      }
      a > span {
        padding: 0 5px;
        font-size: 30px;
        font-family: "Abril Fatface", cursive;
      }
      i {
        font-size: 20px;
        color: $gray;
      }
      i.fas.fa-cookie-bite {
        color: $cookie;
        font-size: 30px;
      }
    }
  }
}
