extends layouts/main.pug

block content
    .form-container
        .record-container#jsRecordContainer
            video#jsVideoPreview
            button#jsRecordBtn 녹화하기
        form(action=`/videos${routes.upload}` method="post" enctype="multipart/form-data")
            label(for="file") 영상 파일
            input(type="file" id="file" name="videoFile" required=true accept="video/*")
            input(type="text" placeholder="영상 제목" name="title" required=true)
            textarea(name="description" placeholder="설명" required=true)
            input(type="submit" value="업로드")