@import "config/_variables.scss";
@import "config/reset.scss";
@import "main.scss";

@import "pages/home.scss";
@import "partials/header.scss";
@import "partials/footer.scss";
@import "partials/form.scss";
@import "partials/socialBtn.scss";
@import "partials/videoBlocks.scss";

@import "pages/home.scss";
@import "pages/videoDetail.scss";
@import "pages/userDetail.scss";
@import "utils.scss";
